<!doctype html>
<html lang="pt">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="style/starter-template.css" rel="stylesheet">

    <title>Meus Jogos</title>
</head>

<body>
    <div class="container" id="gamesApp">

        <div class="row">
            <div class="col">
                <header>
                  <h1>{{appName}}</h1>
                </header>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{userName}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">All games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add game</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row tabelaFiltro">
            <div class="col-sm-8 col-md-8 col-lg-10">
                <table class="table">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">Name</th>
                            <th scope="col">Year</th>
                            <th scope="col">Platform</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="g in gamesFiltered">
                            <td>{{g.name}}</td><td>{{g.year}}</td><td>{{g.platform}}</td>
                        </tr>
                    </tbody>
                </table>

                <nav aria-label="..." v-if="gamesPaginated.length > 1">
                    <ul class="pagination pagination-sm justify-content-end">
                        <div v-for="i in gamesPaginated.length">
                            <li class="page-item active" v-if="(current_page + 1)==i">
                                <a class="page-link">{{i}}</a>
                            </li>
                            <li class="page-item" v-else>
                                <a class="page-link" v-on:click='current_page=(i - 1); selYear="Year"; selPlatform="Platform"'>{{i}}</a>
                            </li>
                        </div>                        
                    </ul>
                </nav>
            </div>
            <div class="col-sm-4 col-lg-2">
                <form>
                    <fieldset>
                        <legend>Filter</legend>
                        <select class="form-select" aria-label="Default select example" v-model.number="selYear">
                            <option selected>Year</option>
                            <option v-for="g in years">{{g}}</option>
                        </select>

                        <select class="form-select" aria-label="Default select example" v-model="selPlatform">
                            <option selected>Platform</option>
                            <option v-for="g in platform">{{g}}</option>
                        </select>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-center Footer">Footer Information @</div>

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.6.9.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/gamesApp.js"></script>
</body>

</html>